
  <div class="container-fluid">
  <nav class= "navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand text-light text-secondary" href="#">SportStar</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link text-secondary" routerLink="/stars" routerLinkActive="true" >All</a>
          </li>
          <li class="nav-link " routerLink="stars/cricket"    routerLinkActive="true">Cricket</li>
          <li class="nav-link" routerLink="stars/football" routerLinkActive="true">Football</li>
        
      </ul>
    
    </div>
  </nav>
  
  </div>
  <router-outlet></router-outlet>